					<div id="nav">
						<ul>
							<li class="first active">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="#">IT Serivces</a>
							</li>
							<li>
								<a href="/trainings/ror">Trainings</a>
							</li>
							<li>
								<a href="#">Support</a>
							</li>
						<li class="last">
								<a href="#">Contact</a>
							</li>
						</ul>
						<br class="clear" />
					</div>